; bug.n - tiling window management
; @version 9.0.2

Config_layoutGapWidth=60
Config_backColor_#1=1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e
Config_backColor_#2=1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e
Config_backColor_#3=8ebbfe;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7
Config_foreColor_#1=1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e
Config_foreColor_#2=1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e
Config_foreColor_#3=1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e
Config_fontColor_#1=f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7
Config_fontColor_#2=8ebbfe;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7;f6c2e7
Config_fontColor_#3=1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e;1e1e2e

Config_fontName=SauceCodePro Nerd Font
Config_fontSize=9
Config_viewNames=web;dev;ent;clp;msc
Config_viewCount=5
Config_newWndPosition=bottom
Config_mouseFollowsFocus=1
Config_showTaskBar=1
Config_showBar=0
Config_spaciousBar=1
Config_singleRowBar=1
Config_readinBat=1
Config_readinVolume=1
Config_readinDate=1
Config_readinTime=1
Config_readinDateFormat=ddd dd MMM
Config_readinTimeFormat=hh:mm tt
Config_barWidth=100%
Config_horizontalBarPos=center
Config_verticalBarPos=top
Config_barTransparency=off
Config_readinInterval=5000

Config_rule=*;*;*;*;*;*;*;0;*;*
Config_rule=Chrome_WidgetWin_1;ueli;;0;0;1;1;0;0;
Config_rule=EVERYTHING;Everything;;0;0;1;1;0;0;
Config_rule=vcxsrv/x X rl;*;;1;0;0;0;1;0;
Config_rule=CabinetWClass;*;;1;0;0;0;0;0;
Config_rule=gdkWindowToplevel;BleachBit;;1;1;1;1;0;0;
Config_rule=mpv;*;;1;0;0;0;0;0;
Config_rule=Chrome_WidgetWin_1;Picture-in-picture;;0;1;1;1;1;0;
Config_rule=Qt631QWindowToolSaveBits;YasbBar;;0;0;0;1;0;0;
Config_rule=#32770;* - JPEGView;;1;1;2;0;0;0;
Config_rule=MainWindow;DOOM 2: Hell on Earth;;0;0;1;1;0;0;
Config_rule=Chrome_WidgetWin_1;*VSCodium;;1;0;0;0;0;0;
Config_rule=Microsoft-Windows-SnipperToolbar;Snipping Tool;;1;0;0;0;1;1;
Config_rule=Chrome_WidgetWin_1;Notification;;1;0;0;1;1;0;
Config_rule=Chrome_WidgetWin_1;Picture in picture;;1;0;0;1;1;0;
Config_rule=SUMATRA_PDF_FRAME;*;;1;0;0;0;1;0;
Config_rule=Window;Options;;1;0;0;1;0;0;
Config_rule=RGSS Player;*;;1;0;0;1;0;0;
Config_rule=Qt5152QWindowIcon;*;;1;0;0;0;0;0;
Config_rule=SALFRAME;*;;1;0;0;0;0;0; 
Config_rule= *;Color Picker;;1;0;0;1;0;0;
Config_rule= *;Image Resizer;;1;0;0;1;0;0;
Config_rule=Microsoft-Windows-SnipperToolbar;Snipping Tool;;1;0;0;1;1;1;
Config_rule=PropertySystemView;PropertySystemView;;1;0;0;1;1;0;
Config_rule=UninstallView;UninstallView;;1;0;0;1;1;0;
Config_rule=GUIPropView;GUIPropView;;1;0;0;1;1;0;
Config_rule=Twnd_dl_Main;MiTeC DirList;;1;0;0;1;1;0;
Config_rule=WinUIDesktopWin32WindowClass;PowerRename;;1;0;0;1;1;0;
Config_rule=BatteryInfoView;BatteryInfoView;;1;0;0;1;1;0;
Config_rule=ManageWirelessNetworks;ManageWirelessNetworks;;1;0;0;1;1;0;
Config_rule=ShellBagsView;ShellBagsView;;1;0;0;1;1;0;
Config_rule=WhatInStartup;WhatInStartup;;1;0;0;1;1;0;
Config_rule=WinFontsView;WinFontsView;;1;0;0;1;1;0;
Config_rule=NirSoft_Clipboardic;Clipboardic;;1;0;0;0;0;0;
Config_rule=KeyboardStateView;KeyboardStateView;;1;0;0;1;1;0;
Config_rule=OpenWithView;OpenWithView;;1;0;0;1;1;0;
Config_rule=ProcessHacker;*;;1;0;0;1;1;0;
Config_rule=TWizardForm;Setup - MiTeC InfoBar;;1;0;0;1;1;0;
Config_rule=QWidget;TIPP10;;1;0;0;1;1;0;
Config_rule=FileAccessErrorView;FileAccessErrorView;;1;0;0;0;0;0;
Config_rule=ShellMenuView;ShellMenuView;;1;0;0;1;1;0;
Config_rule=TaskManagerWindow;Task Manager;;1;0;0;1;1;0;
Config_rule=WifiInfoView;WifiInfoView   -  Full Details Mode;;1;0;0;1;1;0;
Config_rule=TWizardForm;Setup Winaero Tweaker 1.40.0.0;;1;0;0;1;1;0;
Config_rule=WindowsForms10.Window.8.app.0.34f5582_r6_ad1;Winaero Tweaker;;1;0;0;1;1;0;
Config_rule=ShellExView;ShellExView;;1;0;0;1;1;0;
Config_rule=VideoCacheView;VideoCacheView;;1;0;0;1;1;0;
Config_rule=ChromeCacheView;ChromeCacheView;;1;0;0;1;1;0;
Config_rule=ChromeCookiesView;ChromeCookiesView;;1;0;0;1;1;0;
Config_rule=ChromeHistoryView;ChromeHistoryView;;1;0;0;1;1;0;
Config_rule=ProductKeyScanner;Product Key Scanner;;1;0;0;1;1;0;
Config_rule=NirLauncher;*;;1;0;0;1;1;0;
Config_rule=PROCEXPL;*;;1;0;0;1;1;0;
Config_rule=FileTypesMan;FileTypesMan;;1;0;0;1;1;0;
Config_rule=*;Bandcamp Downloader;;1;0;0;1;1;0;
Config_rule=MusicPlayer_*;*;;1;0;0;0;0;0;
Config_rule=#32770;Windows Sandbox;;1;0;0;0;0;0;
Config_rule=Qt5154QWindowIcon;qBittorrent*;;1;0;0;1;1;0;
Config_rule=FM;*;;1;0;0;1;1;0;
Config_rule=MMCMainFrame;Services;;1;0;0;1;1;0;
Config_rule=wxWindowNR;PicoTorrent;;1;0;0;1;1;0;
Config_rule=Qt5QWindowIcon;Oracle VM VirtualBox Manager;;1;0;0;1;1;0;
Config_rule=*;Avira Security;;1;0;0;1;1;0;
Config_rule=gdkWindowToplevel;* - Geany;;1;0;0;0;0;0;
Config_rule=ProduKey;ProduKey;;1;0;0;1;1;0;
Config_rule=org.wezfurlong.wezterm;~;;1;0;0;0;0;0;
Config_rule=*;*- Kdenlive;;1;0;0;1;1;0;
Config_rule=Chrome_WidgetWin_1;Min;;1;0;0;0;0;0;
Config_rule=WindowsForms10.Window.8.app.0.2bf8098_r6_ad1;*;;1;0;0;1;1;0;
Config_rule=FF_WNDCLASS;fmedia;;1;0;0;1;1;0;
Config_rule=#32770;simplewall;;1;0;0;1;1;0;
Config_rule=Qt610QWindowIcon;*;;1;0;0;0;0;0;
Config_rule=WindowsForms10.Window.8.app.0.129c866_r6_ad1;Greenshot capture form;;1;0;0;1;1;0;
Config_rule=Qt5QWindowIcon;*;;1;0;0;0;0;0;


Config_hotkey=#Enter::Run, C:\Users\DWTW\scoop\apps\windows-terminal-preview\current\WindowsTerminal.exe
Config_hotkey=#b::Run, brave.exe, , Hide

Config_showBorder=0
Config_borderWidth=0
Config_borderPadding=0
Config_selBorderColor=0
Config_onActiveHiddenWnds=hide

Monitor_#1_aView_#2=3
View_#1_#1_layout_#2=2
View_#1_#1_layoutMFact=0.450000
View_#1_#2_layout_#2=2
View_#1_#2_layoutMFact=0.400000
View_#1_#3_layout_#2=2
View_#1_#3_layoutGapWidth=18